{% extends 'forms.html' %}
{% block action %}
    {% url 'register_user' %}
{% endblock %}
{% block form_contetn %}
    <h2 class="mb-4 login-text-col">Регистрация</h2>
    {{ form.email }}
    {{ form.password }}
    {{ form.password_2 }}
    <button type="submit" class="btn btn-light">Регистрация</button>
{% endblock %}
{% block additional_info %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong>
            <ul>
                {% for errors in form.errors.values %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}