{% extends 'base.html' %}


<!-- Header Start -->
{% block content %}

    <!-- Menu Section Start -->
    <section id="food-menu">
        <div class="container">
            <header class="section-header">
                <h3>{% block title_menu %}{% endblock %}</h3>
            </header>
            <div class="row">
                {% for item in items %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <h4>{{ item.name }}</h4>
                            <img class="img-fluid" src="/media/{{ item.image }}"/>

                            <p class="description-menu">{{ item.description }}</p>
                            <table class="hidden menu" id="cart">
                                <tr>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                </tr>
                                <tr>
                                    <td class="quantity">
                                        <span class="dec q-btn">-</span>
                                        <input type="number" value="1" price="{{ item.price }}">
                                        <span class="inc q-btn">+</span>
                                    </td>
                                    <td class="price-total">{{ item.price }} лв.</td>
                                </tr>
                            </table>

                            <a href="#" class="order-link box1">Поръчай</a>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- Menu Section End-->




{% endblock %}