{% extends 'base.html' %}

{% block content %}
    <!-- Menu Section Start -->
    <section id="food-menu">
        <div class="container" id="pizza-container">
            <header class="section-header">
                <h3>{% block title_menu %}{% endblock %}</h3>
            </header>
            <div class="row" id="pizza-list">
                {% for item in items %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <h4>{{ item.name }}</h4>
                        {% if item.front_image %}
                            <img class="img-fluid" src="/media/{{ item.front_image }}"/>
                        {% else %}
                            <img class="img-fluid" src="/media/{{ item.image }}"/>
                        {% endif %}
                            {% if  item.front_description %}
                                <p style="font-size: 14px">{{ item.front_description }}</p>
                            {% else %}
                                <p style="font-size: 14px">{{ item.description }}</p>
                            {% endif %}
                            <a href="{% url 'details' model=model_name pk=item.pk %}">Поръчай</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Menu Section End -->
{% endblock %}



