{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- About Section Start-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-col-left">
                        <img class="img-fluid" src="{% static 'common/img/Ipizza-sign.png' %}" alt="Ipizza sign"/>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-col-right">
                        <div class="row">
                            <div class="col-md-12">
                                <header class="section-header">
                                    <h3>За Ipizza</h3>
                                </header>
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                                <p>
                                    Ipizza е нова и иновативна верига ресторанти, специализираща се в приготвянето
                                    на вкусни пици, сандвичи, паста и много други. Съчетавайки качество на храната,
                                    изключително обслужване и забавление, ние предоставя уникално и незабравимо
                                    привлекателено апетитно изживяване. Само за
                                    кратко време, се утвърдихме като предпочитано място за хранене в
                                    големите градове, а предстоящото разширение извън страната обещава още
                                    по-широка популярност.
                                </p>
                                <p>
                                    Вярваме, че ще продължи да радваме своите клиенти
                                    с вкусни и уникални пици устремени да станем любима марка на милиони.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="about-col">
                                    <h4>Обслужване</h4>
                                    <p>
                                        Отвъд кулинарното майсторство, ние предлагаме култура на превъзходство в
                                        обслужването. Нашите опитни служители със страст създават усещане за
                                        топлина,
                                        близост и принадлежност. Всяко посещение се отличава с искрени усмивки и
                                        внимателна грижа, превръщайки яденето във вълнуваща спомен.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="about-col">
                                    <h4>Кухня</h4>
                                    <p>
                                        Нашата кухня е вдъхновена от забързания живот като предлага неповторима
                                        хармония от вкусове и аромати. Шеф-готвачът и неговият екип от талантливи
                                        кулинарни артисти представят творения, които възхищават и завладяват
                                        вкусовете. Използваме само най-свежи и висококачествени съставки,
                                        съчетавайки традиционни рецепти с иновативни техники, за да създадем
                                        истински шедьоври за Вас.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block script %}
    {% endblock %}

{% endblock %}
